ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
    }

        ul#menu li#greeting {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            color: #fff;
        }

        ul#menu li a {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            background-color: #e8eef4;
            color: #034af3;
        }

            ul#menu li a:hover {
                background-color: #fff;
                text-decoration: none;
            }

            ul#menu li a:active {
                background-color: #a6e2a6;
                text-decoration: none;
            }

        ul#menu li.selected a {
            background-color: #fff;
            color: #000;
        }

/* SUB TAB MENU   
----------------------------------------------------------*/
ul#submenu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 0 0;
    position: relative;
    text-align: right;
    margin: 1px 0 1px 0;
}

    ul#submenu li {
        display: inline;
        list-style: none;
    }

        ul#submenu li a {
            padding: 2px 10px;
            font-weight: bold;
            text-decoration: none;
            line-height: 1.8em;
            background-color: #c8cee4;
            color: #034af3;
        }

        ul#submenu li#submenuitemselected a {
            padding: 2px 10px;
            font-weight: bold;
            text-decoration: none;
            line-height: 1.8em;
            background-color: #fff;
            color: #034af3;
        }

        ul#submenu li a:hover {
            background-color: #fff;
            text-decoration: none;
        }

        ul#submenu li a:active {
            background-color: #a6e2a6;
            text-decoration: none;
        }

        ul#submenu li.selected a {
            background-color: #fff;
            color: #000;
        }
